<h3> <font color="green">{{ book.name }}</font>: {{ book.title }}</h3>
<div class="container">
    <div class="row">
        <div class="col-12 col-md-4"><input type="text" id="edit-name" placeholder="{{ book.name }}"></div>
        <div class="col-12 col-md-4"><input type="text" id="edit-name" placeholder="{{ book.title }}"></div>
        <div class="col-12 col-md-4"><input type="text" id="edit-name" placeholder="{{ book.annotation }}"></div>
    </div>
    <div class="row">
        <div class="col-12">
            <input type="button" id="sbm-btn" value="Применить" />
        </div>
    </div>
</div>