<h1>Интернет-магазин книг и печатной продукции <span class="zf-green">Biblio Art</span></h1>
<p>{{ app.request.uri }}</p>
<div class="jumbotron">
    <div class="container-fluid">
    {% for book in books %}
        <div class="row catalog" data-book-id={{ book.getId }}>
            <div class="col-1">{{ book.getId }}</div>
            <div class="col-4">{{ book.getTitle }}</div>
            <div class="col-5">{{ book.getAnnotation }}</div>
            <div class="col-2">{{ book.getDateCreated }}</div>
        </div>
    {% endfor %}
    </div>
</div>
